/* prevent body from scrolling when modal is up */
body.modal-open {
  overflow:hidden;
}

.product-grid {
  background: #EEE;
  text-align: center;
}
/* grid styles */
.product-grid-inner {
  /*width:960px;*/
  border: 1px solid #EEE;
  padding: 10px;
  background: #EEE;
  clear:both;
  display: inline-block;
  margin: 0 auto;
}
.product-grid .poweredBy {
  height:54px;
  width:108px;
  float:right;
}

.product-grid .product-outer {
  float: left;
  clear:none;
}
.product-grid .product {
  background: #FFF;
  width: 160px;
  clear: none;
  margin: 5px;
  padding: 5px;
}
.product-grid .product .product-image {
  border: 2px solid #efefef;
  background: #fff;
  position: relative;
  padding: 10px;
  /*
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  */
  margin:10px;
  float:none;
}
.product-grid .product .product-image img {
  width: 100%;
}
.product-grid .product .product-image {
  height:175px;
  overflow: hidden;
}
.product-grid .modal-trigger {
  cursor:pointer;
}
.product-grid .product-info {
  width:160px;
  padding: 5px;
  text-align: center;
}

/* layout styles */
.clear {
  clear:both;
}
.hide {
  display:none;
}
