/* prevent body from scrolling when modal is up */
body.modal-open {
  overflow:hidden;
}

/* grid styles */
.product-grid {
  /*width:960px;*/
  border: 1px solid #EEE;
}
.product-grid .poweredBy {
  height:54px;
  width:108px;
  float:right;
}
.product-grid .product {
  float:left;
  width:150px;
  clear:none;
  margin:5px;
}
.product-grid .product .product-image {
  border: 1px solid #efefef;
  background: #fff;
  position: relative;
  padding: 10px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  margin:0;
  float:none;
}
.product-grid .product .product-image img {
  width: 100%;
}
.product-grid .product .product-image {
  height:150px;
  overflow: hidden;
}
.product-grid .modal-trigger {
  cursor:pointer;
}
.product-grid .product-info {
  display:none;
}

/* layout styles */
.clear {
  clear:both;
}
.hide {
  display:none;
}
