/*new style*/
#popover-my-cart-popover{/*float:left;*/ /*width:987px;*/ border:1px solid #000; background:#fff; /*padding:20px 20px;*/ display:none;/* position:absolute; top:30px; left:-400px; z-index:999;*/}
.popover-title{float:left; width:100%;}
.popover-title .close{float:right; width:42px; background:url(../images/close_img.jpg) no-repeat right center; font:8px/14px arial; color:#9b9b9b; margin-top:16px;}
.cart-item-header{border-bottom:3px solid #000;padding-bottom: 7px;padding-top: 5px;}
.cart-item-header th{text-align:center; font:12px/15px 'NeutraDisplayThinMedium'; color:#000; background:none; padding: 0 35px;}
.cart-header td {background:#000; margin-top:2px;}
.cart-header td {font:13px/23px 'NeutraDisplayAltBold'; color:#fff;}
/*.cart-header .customer_service{font:10px/23px Georgia, "Times New Roman", Times, serif; color:#fff; float:right; width:auto; padding-right:5px;}*/
/*.cart-header .sub_total{float:right;font:17px/23px 'NeutraDisplayAltBold'; color:#fff; padding-right:5px;}*/

tr.cart-item {border-bottom:1px solid #000; padding-top:20px;}
tr.cart-item.bordnone{border-bottom:none;}
tr.cart-item td{list-style-type:none; background:none;font:12px/60px Georgia, "Times New Roman", Times, serif; color:#000;/* padding: 0 26px 0 20px;*/}
tr.cart-item td.width137{width:137px;}
tr.cart-item td.updown{background:url(../images/up_down_img.jpg) no-repeat scroll 12px 10px;}
tr.cart-item td.number{/*padding:0 40px 0 29px;*/}
tr.cart-item td a{ float:left;font:10px/15px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
tr.cart-item td a.remove{color:#c0c0c0; background:url(../images/remove_img.jpg) no-repeat left center; text-indent:15px; margin:0px;}
tr.cart-item td a.return_policy{color:#000;}
tr.cart-item td.remove_li{width:90px;/* margin:20px 0 0 0;*/}

.row{float:left; width:100%; padding-bottom:20px;}
.row .cont_shop{float:right; width:255px; margin-top:14px;}
.row .cont_shop li{float:left; list-style-type:none; background:none; padding:0;}
.row .cont_shop .continue_link{ float:left; width:153px;  border:1px solid #000; text-align:center; font:12px/17px 'NeutraDisplayAltBold'; color:#000;}
.row .cont_shop .checkout_link{ float:left; width:83px; text-align:center; font:12px/19px 'NeutraDisplayAltBold'; color:#fff; background:#0845ab; margin-left:15px;}

.row .coupon{float:left; width:255px; margin-top:14px;}
.row .coupon li{float:left; list-style-type:none; background:none; padding:0;}
.row .coupon li input{float:left; width:88px; height:17px; border:1px solid #737373; margin-right:7px; font:10px/17px Georgia, "Times New Roman", Times, serif; color:#818181; text-indent:5px;}
.row .coupon li a{float:left; font:12px/19px 'NeutraDisplayAltBold'; color:#fff; background:#000; padding:0 8px;}

#overlay{float: left; width: 100%; height: 100%; background:url(../images/overlay.png) repeat 0 0; display:none; position: fixed; top: 0; left: 0; cursor: pointer; z-index: 9;}
