body.modal-open {
  overflow: hidden;
}
/** Shopping cart trigger label styles */
.cart-popover-btn,
.lux-cart-frame {
  font-size:12px;
  float: left;
  line-height:18px;
}
.cartlabel,
.lux-cart-label {
  float: left;
  width: auto;
  background: #4ad1a6;
  color: #fff;
  font: 15px/18px 'NeutraDisplayBold',Georgia,Times New Roman,times,serif;
  padding: 0 5px;
  position: relative;
  margin: 0 0 0 7px;
}

/** Shopping cart modal styles **/
.cart-modal {
  position: fixed;
  padding:0 10px;
  top: 40%;
  left: 50%;
  z-index: 1050;
  width: 854px;
  max-height:650px;
  overflow-x:hidden;
  overflow-y:hidden;
  margin: -250px 0 0 -445px;
  background-color: white;
  border: 5px solid #000;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.popover .modal-header,
.cart-modal .modal-header {
  height:42px;
}
.popover .modal-body,
.cart-modal .modal-body {
  max-height: 500px;
  overflow-x:hidden;
  overflow-y:scroll;
}
.popover .modal-footer,
.cart-modal .modal-footer {
  height:68px;
}
.modal-footer-buttons {
  padding: 5px 0;
}
.close-cart-modal {
  width:15px;
  height:15px;
  text-indent: -9999px !important;
  background:url(../images/close.png) no-repeat top center;
  position:absolute;
  top:10px;
  right:10px;
}
/** Shopping cart popover styles */
.popover {
  width:854px;
  border:1px solid #000;
  padding:0 20px;
  background:#fff;
  display:none;
  position:absolute;
  z-index:999;
}
.cart {
  width:854px;
}
.popover-title {
  padding-top:10px;
}
.close_box{
  float:left;
  width:100%;
}
.close_box .close{
  width:28px;
  height:28px;
  text-indent: -9999px !important;
  background:url(../images/close.png) no-repeat right center;
  font:8px/14px arial;
  color:#9b9b9b;
  position:absolute;
  top:5px;
  right:5px;
}
.heading{
  float: left;
  width: 100%;
  border-bottom: 3px solid #000;
  padding: 19px 0 3px 0;
}
.heading ul{
  /*float:left;*/
  width:100%;
  margin:0;
}
.heading ul li{
  float:left;
  text-align:center;
  font:16px/16px "Helvetica Neue", Helvetica, sans-serif;
  color:#000;
  background:none;
  list-style-type:none;
}
.main_heading{
  float:left;
  width:100%;
  background:#000;
  margin-top:2px;
}
.main_heading .shipped_from{
  width:300px;
  margin-left:8px;
  font:14px/23px "Helvetica Neue", Helvetica, sans-serif;
  color:#fff;
  float:left;
}
.main_heading .customer_service{
  /* display:none; */
  margin-right:5px;
  width:300px;
  font:12px/23px Calibri, "Times New Roman", Times, serif;
  color:#fff;
  float:right;
  text-align:right;
}
.main_heading .customer_service a {
  color:#fff;
}
.main_heading .sub_total{
  float:right;
  font:16px/23px "Helvetica Neue", Helvetica, sans-serif;
  color:#fff;
  padding-right:5px;
}

.items{
  float:left;
  width:100%;
}
.items ul{
  float:left;
  width:100%;
  border-bottom:1px solid #000;
  margin:0;
}
.items .bordnone{
  border-bottom:none;
}
.items ul li{
  float:left;
  height:90px;
  margin-top:30px;
  text-align:center;
  list-style-type:none;
  background:none;
  font:12px Calibri, "Times New Roman", Times, serif;
  color:#000;
}
.items ul li.item-qty {
  margin-top:25px;
}
.items ul li a{
  float:left;
  font:10px/15px Calibri, "Times New Roman", Times, serif;
  text-transform:uppercase;
}
.items ul li .remove{
  color:#c0c0c0;
  text-indent:15px;
  margin:0;
}
.items ul li .return_policy{
  color:#000;
  width:90px;
}
.items ul .remove_li{
  width:83px;
}

.items ul .item-image {
  margin-top:0;
}
.item-image, .item-header-image {
  width:100px;
}
.item-designer, .item-header-designer {
  width:78px;
}
.item-brand, .item-header-brand {
  width:78px;
}
.item-name, .item-header-name {
  width:183px;
}
.item-color, .item-header-color {
  width:70px;
}
.item-size, .item-header-size {
  width:92px;
}
.item-price, .item-header-price {
  width:88px;
}
.item-qty, .item-header-qty {
  width:51px;
}
.item-subtotal, .item-header-subtotal {
  width:89px;
}

.cart-modal .row{
  float:left;
  width:100%;
}
.popover .row .right-actions,
.cart-modal .row .right-actions{
  float:right;
  margin:19px 0 0 0;
}
.popover .row .right-actions li,
.cart-modal .row .right-actions li{
  float:left;
  list-style-type:none;
  background:none;
  padding:0;
}
.popover .row .right-actions .continue-link,
.cart-modal .row .right-actions .continue-link{
  width:176px;
  border:1px solid #000;
  cursor:pointer;
  float:left;
  color:#000;
  background:#fff;
  text-align:center;
  text-transform:uppercase;
  font:14px "Helvetica Neue", Helvetica, sans-serif;
}
.popover .row .right-actions .checkout_link,
.cart-modal .row .right-actions .checkout_link{
  width:106px;
  border:none;
  cursor:pointer;
  float:right;
  color:#fff;
  background:#000;
  text-align:center;
  text-transform:uppercase;
  font:14px "Helvetica Neue", Helvetica, sans-serif;
  margin-left:15px;
}

.popover .row .left-actions,
.cart-modal .row .left-actions{
  float:left;
  margin:19px 0;
}
.popover .row .left-actions li,
.cart-modal .row .left-actions li{
  float:left;
  list-style-type:none;
  background:none;
  padding:0;
}
.popover .row .left-actions li .coupon_input,
.cart-modal .row .left-actions li .coupon_input{
  display:none;
  width:88px;
  height:19px;
  border:1px solid #737373;
  margin-right:7px;
  float:left;
  text-transform:uppercase;
  font:10px/17px "Helvetica Neue", Helvetica, sans-serif;
  color:#818181;
  text-indent:5px;
}
.popover .row .left-actions li .clear_link,
.cart-modal .row .left-actions li .clear_link{
  cursor:pointer;
  float:left;
  width:106px;
  background:#000;
  border:none;
  text-transform:uppercase;
  font:14px "Helvetica Neue", Helvetica, sans-serif;
  color:#fff;
}

.clear_link,
.continue_link,
.checkout_link {
  line-height:24px !important;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.in {
  opacity:1;
}

.cart .poweredBy {
  height: 44px;
  width: 108px;
  margin-top: -10px;
  display: inline-block;
  margin-left: 20px;
}

.cart .privacyPolicyLink {
  font: 14px "Helvetica Neue", Helvetica, sans-serif;
  padding: 10px 17px;
  display: inline-block;
  margin-left: 20px;
}
/* empty shopping cart */
.empty-cart p {
  line-height:140px;
  height:140px;
  text-align:center;
  font-size:20px;
}