/* general single product frame styles */
.single-product {
  clear:both;
}
.single-product .product-collection-name { display: none; }
.single-product .product-image {
  border: 1px solid #efefef;
  margin:30px 25px 30px 0;
  background: #fff;
  position: relative;
  float: left;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-border-radius:4px;
           border-radius:4px;
}
.single-product .product-info {
  float: left;
  width: 500px;
  margin: 30px 15px 30px 0;
  position: relative;
}

.single-product .product-detail-image-src {
  max-width: 350px;
}

.single-product .product-image:before,
.single-product .product-image:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}


.single-product .product-image:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}
.single-product .product-ships-from-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
.single-product p.product-brand-name-text {
  font: 24px/24px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 30px;
  font-weight: bold;
}
.single-product p.item-number-text {
  font: 14px/14px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;

}
.single-product p.product-description-text {
  font-style: normal;
}
.single-product p.product-name-text {
  font: 20px/20px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 30px;
  font-weight: normal;
}
.single-product p.product-retail-price {
  font: 20px/20px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;
  margin: 20px 0 10px 0;
  width: 100%;
}
.single-product .add-to-cart label {
  display: block;
  clear: both;
  margin: 0 0 5px 0;
  color: #231F20;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: auto;
  height: 13px;
}
.single-product .add-to-cart select {
  width: 185px;
  height: 28px;
  margin: 0 0 10px 0;
  display: inline;
  font-size: 14px;
}

.single-product .form-submit {
  color: #fff;
  background-color: #222;
  outline: none;
  margin: 0;
  padding: 20px 0 5px 0;
  border-color: #000;
  width: auto;
  background: transparent;
  cursor: pointer;
}

.single-product .add-to-cart-button {
  position: relative; 
  color: #000; 
  background: #fff;
  border: 1px solid #000;
  font: 14px/22px 'NeutraDisplayBold',Georgia,Times New Roman,times,serif;
  word-spacing: 1px;
  text-transform: uppercase;
  padding: 0 10px 0 11px;
  margin: 20px 0 10px 0;
 }
.single-product .add-to-cart-button:hover {
  color: #fff;
  background: #000;
  border-color: #fff;
  }

.single-product .spacer {
   clear: both;			
}

/* grid styles */
#product-grid {
  width:960px;
}
#product-grid .product {
  float:left;
  width:302px;
  clear:none;
  margin:9px;
}
#product-grid .product .product-image {
  border: 1px solid #efefef;
  background: #fff;
  position: relative;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-border-radius:4px;
           border-radius:4px;
  margin:0;
  float:none;
}
#product-grid .product .product-image img {
  width:280px;
}
#product-grid .product .product-info {
  width:302px;
  float;none;
}
#product-grid .product .modal-info {
  display:none;
}
#singleProductModal {
  height:550px;
  width:940px;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  margin: -250px 0 0 -475px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #999;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

/* Cart settings */

.popover-inner {
	width: auto;
}

.cart-items .item-qty input {
	width: 30px;
}
.cart-items .item-image img {
	width: 75px;
	height: auto;
  margin-top:5px;
}

