/* general single product frame styles */
.single-product {
  clear:both;
}
.single-product .product-frame-name {
  display: none;
}
.single-product .product-collection-name {
  display: none;
}
.single-product .product-image {
  max-width:350px;
  border: 1px solid #efefef;
  margin:30px 25px 30px 0;
  position: relative;
  float: left;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.single-product .product-info {
  float: left;
  width: 500px;
  margin: 30px 15px 30px 0;
  position: relative;
}

.single-product .product-detail-image-src {
  max-width: 350px;
}
.single-product .product-detail-image > span {
  height: 460px;
}
.single-product .product-image:before,
.single-product .product-image:after {
  content:"";
  position:absolute;
  z-index:-2;
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
}


.single-product .product-image:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}
.single-product .product-ships-from-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
.single-product .product-brand-name-text {
  font: 24px/24px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 30px;
  font-weight: bold;
}
.single-product .item-number-text {
  font: 14px/14px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;
}
.single-product .product-description-text {
  font-style: normal;
}
.single-product .product-name-text {
  font: 20px/20px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 30px;
  font-weight: normal;
}
.single-product .product-retail-price {
  font: 20px/20px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;
  margin: 20px 0 10px 0;
  width: 100%;
}
.single-product .add-to-cart label {
  clear: both;
  margin:0 0 5px 0;
  color: #231F20;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  width: auto;
  height: 13px;
  line-height: 18px;
}
.single-product .add-to-cart select {
  width: 120px;
  height: 18px;
  margin: 10px 0 10px 5px;
  font-size: 14px;
}

.single-product .form-submit {
  color: #fff;
  background-color: #222;
  margin: 0;
  padding: 20px 0 5px 0;
  border-color: #000;
  width: auto;
  background: transparent;
  cursor: pointer;
}

.single-product .add-to-cart-button {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  font: 14px/22px 'NeutraDisplayBold',Georgia,Times New Roman,times,serif;
  word-spacing: 1px;
  text-transform: uppercase;
  padding: 0 10px 0 11px;
  margin: 20px 0 10px 0;
}
.single-product .add-to-cart-button:hover {
  color: #fff;
  background: #000;
  border-color: #fff;
}

.single-product .spacer {
  clear: both;
}

.unavailable-text {
  color: #ff0000;
  font: 14px/24px 'NeutraDisplayBold',Georgia,Times New Roman,times,serif;
  word-spacing: 1px;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  margin: 20px 0 10px 0;
}

/* grid styles */
.product-grid {
  width:960px;
}
.product-grid .product {
  float:left;
  width:230px;
  clear:none;
  margin:5px;
}
.product-grid .product .product-image {
  border: 1px solid #efefef;
  background: #fff;
  position: relative;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-border-radius:4px;
  border-radius:4px;
  margin:0;
  float:none;
}
.product-grid .product .product-image img {
  width:208px;
}
.product-grid .product .product-image > span {
  height:320px;
  overflow: hidden;
}
.product-grid .unavailable-text {
  display: none;
}
.product-grid .product .product-info {
  padding-top:10px;
  width:232px;
  min-height:110px;
  overflow:hidden;
  float:none;
}
.product-grid .modal-trigger {
  cursor:pointer;
}
.product-grid .product .modal-info {
  display:none;
}
.singleProductModal {
  width:940px;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1050;
  margin: -220px 0 0 -481px;
  padding:10px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #999;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.singleProductModal .modal-body {
  margin-left:15px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color:#000;
}
.modal-backdro.fade.in {
  opacity:0.7;
  filter: alpha(opacity=70);
}
#close-product-modal {
  float:right;
  width:42px;
  background:url(../images/close_img.jpg) no-repeat right center;
  font:8px/14px arial;
  color:#9b9b9b;
}
/* default style overrides */
.product-grid .product-retail-price {
  font: 16px/16px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;
  margin: 10px 0;
}
.product-grid .product-brand-name {
  font: 16px/16px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 18px;
  font-weight: bold;
}
.product-grid .product-name {
  display: none;
}

/** general frame styles **/
.frame {
  min-height:400px;
  width:965px;
}

/* Cart settings */

.popover-inner {
  width: auto;
}

.cart-items .item-qty input {
  width: 30px;
}
.cart-items .item-image img {
  width: 75px;
  height: auto;
  margin-top:5px;
}

/* layout styles */
.clear {
  clear:both;
}
.hide {
  display:none;
}


/* start Slideshow settings */
.carousel {
  position: relative;
  margin-bottom: 18px;
  line-height: 1;
  float:left;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -ms-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  top: 40%;
  position: absolute;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
}
/* end Slideshow settings */

#product-slideshow .carousel-inner {
  height: 600px;
}

#product-slideshow .carousel-control {
  top: auto;
  bottom: 20px;
}