.product-collection-name { display: none; }
.product-image {
  padding-right: 20px;
  border: 1px solid #efefef;
  margin: 0 30px 30px 0;
  background: #fff;
  position: relative;
  float: left;
  padding: 1em;
  margin: 2em 10px 4em;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-border-radius:4px;
           border-radius:4px;
}
.product-info {
  float: left;
  width: 500px;
  margin: 30px 15px 30px 0;
  position: relative;
}

.product-detail-image-src {
  max-width: 350px;
}

.product-image:before,
.product-image:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}


.product-image:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}
.product-ships-from-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 20px 0 10px 0;
}
p.product-brand-name-text {
  font: 24px/24px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 30px;
  font-weight: bold;
}
p.item-number-text {
  font: 14px/14px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;

}
p.product-description-text {
  font-style: normal;
}
p.product-name-text {
  font: 20px/20px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  line-height: 30px;
  font-weight: normal;
}
p.product-retail-price {
  font: 20px/20px 'ModernMTStdExtendedRegular',Georgia,Times New Roman,times,serif;
  color: #9A9A9A;
  margin: 20px 0 10px 0;
  width: 100%;
}
.add-to-cart label {
  display: block;
  clear: both;
  margin: 0 0 5px 0;
  color: #231F20;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: auto;
  height: 13px;
}
.add-to-cart select {
  width: 185px;
  height: 28px;
  margin: 0 0 10px 0;
  display: inline;
  font-size: 14px;
}

.form-submit {
  color: #fff;
  background-color: #222;
  outline: none;
  margin: 0;
  padding: 20px 0 5px 0;
  border-color: #000;
  width: auto;
  background: transparent;
  cursor: pointer;
}

.add-to-cart-button {
  position: relative; 
  color: #000; 
  background: #fff;
  border: 1px solid #000;
  font: 14px/22px 'NeutraDisplayBold',Georgia,Times New Roman,times,serif;
  word-spacing: 1px;
  text-transform: uppercase;
  padding: 0 10px 0 11px;
  margin: 20px 0 10px 0;
 }
.add-to-cart-button:hover {
  color: #fff;
  background: #000;
  border-color: #fff;
  }

.spacer {
   clear: both;			
}

/* Cart settings */

#my-cart-modal {
	width: 1000px;
}
.popover-inner {
	width: auto;
}

.cart-items th {
	vertical-align:middle;
	text-align: left;
  color: #222;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}
.cart-items .header {
	background: #000;
	color: #FFF;
  font-size: 12px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}
.cart-items td {
	vertical-align:middle;
	text-align: left;
  color: #222;
  font-size: 12px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}
.cart-items .item-qty input {
	width: 30px;
}
.cart-items .item-subtotal {
	text-align: left;
}
.cart-items .item-image img {
	width: 75px;
	height: auto;
	margin: 5px;
}
.cart-items .cart-subtotal {
	vertical-align:middle;
	text-align: left;
	color: #FFF;
}

/* from bootstrap */
.fade {
  opacity: 0;
-webkit-transition: opacity 0.15s linear;
-moz-transition: opacity 0.15s linear;
-ms-transition: opacity 0.15s linear;
-o-transition: opacity 0.15s linear;
transition: opacity 0.15s linear;
}
.popover {
  position: absolute;
top: 0;
left: 0;
z-index: 1010;
display: none;
padding: 5px;
}
.fade.in {
  opacity:1;
}

/*new style*/
#popup{float:left; width:987px; border:1px solid #000; background:#fff; padding:0 20px; display:none; position:absolute; top:30px; left:-400px; z-index:999;}
.close_box{float:left; width:100%;}
.close_box .close{float:right; width:42px; background:url(../images/close_img.jpg) no-repeat right center; font:8px/14px arial; color:#9b9b9b; margin-top:16px;}
.heading{float:left; width:100%;border-bottom:3px solid #000;padding-bottom: 7px;padding-top: 5px;}
.heading ul{float:left; width:100%;}
.heading ul li{float:left; text-align:center; font:12px/15px 'NeutraDisplayThinMedium'; color:#000; background:none; list-style-type:none;padding: 0 35px;}
.main_heading{float:left; width:100%; background:#000; margin-top:2px;}
.main_heading h3{font:13px/23px 'NeutraDisplayAltBold'; color:#fff; float:left; width:500px; padding-left:8px;}
.main_heading .customer_service{font:10px/23px Georgia, "Times New Roman", Times, serif; color:#fff; float:right; width:auto; padding-right:5px;}
.main_heading .sub_total{float:right;font:17px/23px 'NeutraDisplayAltBold'; color:#fff; padding-right:5px;}

.items{float:left; width:100%;}
.items ul{float:left; width:100%; border-bottom:1px solid #000; padding-top:20px;}
.items ul.bordnone{border-bottom:none;}
.items ul li{float:left; width:auto; list-style-type:none; background:none;font:12px/60px Georgia, "Times New Roman", Times, serif; color:#000; padding: 0 26px 0 20px;}
.items ul li.width137{width:137px;}
.items ul li.updown{background:url(../images/up_down_img.jpg) no-repeat scroll 12px 10px;}
.items ul li.number{padding:0 40px 0 29px;}
.items ul li a{ float:left;font:10px/15px Georgia, "Times New Roman", Times, serif; text-transform:uppercase;}
.items ul li a.remove{color:#c0c0c0; width:60px; background:url(../images/remove_img.jpg) no-repeat left center; text-indent:15px; margin:0px;}
.items ul li a.return_policy{color:#000; width:90px;}
.items ul li.remove_li{width:90px; margin:20px 0 0 0;}

.row{float:left; width:100%; padding-bottom:20px;}
.row .cont_shop{float:right; width:255px; margin-top:14px;}
.row .cont_shop li{float:left; list-style-type:none; background:none; padding:0;}
.row .cont_shop .continue_link{ float:left; width:153px;  border:1px solid #000; text-align:center; font:12px/17px 'NeutraDisplayAltBold'; color:#000;}
.row .cont_shop .checkout_link{ float:left; width:83px; text-align:center; font:12px/19px 'NeutraDisplayAltBold'; color:#fff; background:#0845ab; margin-left:15px;}

.row .coupon{float:left; width:255px; margin-top:14px;}
.row .coupon li{float:left; list-style-type:none; background:none; padding:0;}
.row .coupon li input{float:left; width:88px; height:17px; border:1px solid #737373; margin-right:7px; font:10px/17px Georgia, "Times New Roman", Times, serif; color:#818181; text-indent:5px;}
.row .coupon li a{float:left; font:12px/19px 'NeutraDisplayAltBold'; color:#fff; background:#000; padding:0 8px;}

#overlay{float: left; width: 100%; height: 100%; background:url(../images/overlay.png) repeat 0 0; display:none; position: fixed; top: 0; left: 0; cursor: pointer; z-index: 9;}
