/* resets */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
a {
  text-decoration: none;
}

/* single frame styles */

.single-product {
  width:880px;
  padding:20px;
  position:relative;
}

.single-product .product-image-wrapper {
  width: 334px; /* 38% */
  margin: 0px;
  float: left;
}
.single-product .product-image-wrapper .product-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.single-product .product-image-wrapper .product-image-src {
  width: 100%; /* joe todo remove redundancy?? */
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.single-product .product-image-wrapper .product-image-slideshow {
  width: 100%;
}
.single-product .product-image-wrapper .product-image-slideshow div.product-image-slide {
  height: 50px;
  width: 50px;
  float: left;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 18px;
  border: 1px solid #CCC;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.single-product .product-image-wrapper .product-image-slideshow div.product-image-slide.active {
  border: 1px solid black;
}
.single-product .product-image-wrapper .product-image-slideshow div.product-image-slide.last {
  margin-right: 0px;
  margin-left: 2px;
}
/* thumbnail slideshow-carousel styles */
.product-image-slideshow {
  width: 334px;
  position: relative;
}
.product-image-slideshow .slide-carousel-inner {
  height: 62px;
  position: relative;
  overflow: hidden;
}
.product-image-slideshow .thumbnail-item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -ms-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.product-image-slideshow .thumbnail-item {
  /*display: block;
  line-height: 1;*/
}
.product-image-slideshow .active,
.product-image-slideshow .next,
.product-image-slideshow .prev {
  display: block;
}
.product-image-slideshow {
  left: 0;
}
.product-image-slideshow .next,
.product-image-slideshow .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.product-image-slideshow .next {
  left: 100%;
}
.product-image-slideshow .prev {
  left: -100%;
}
.product-image-slideshow .next.left,
.product-image-slideshow .next.right {
  left: 0;
}
.product-image-slideshow .active.left {
  left: -100%;
}
.product-image-slideshow .active.right {
  left: 100%;
}
.single-product .product-image-wrapper .product-image-slideshow .carousel-control {
  width: 10px;
  height: 52px;
  position: absolute;
  top: 10px;
  left: 0px;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
  line-height: 52px;

  color: #fff;
  background: #222;

  opacity: 0.0;
  filter: alpha(opacity=00);

  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50-12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.single-product .product-image-wrapper .product-image-slideshow .carousel-control.right {
  right: 0px;
  left: auto;
}
.single-product .product-image-wrapper .product-image-slideshow:hover .carousel-control {
  opacity: 0.5;
  filter: alpha(opacity=50);
  display:block;
}
.single-product .product-image-wrapper .product-image-slideshow:hover .carousel-control:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}





.single-product .product-info-wrapper {
  width: 60%; /* 555px */
  margin: 0px;
  float: right;
  position: relative;
}
.single-product .product-info-wrapper p {
  margin-bottom: 0px;
}
.single-product .product-info-wrapper .see-reviews {
  width: 75px; /* find %? */
  height: 15px;
  position: absolute;
  right: 0px;
}
.single-product .product-info-wrapper .product-brand-name {
  margin-bottom: 5px;
}
.single-product .product-info-wrapper .product-brand-name-text {
  font: bold 28px/28px 'HelveticaNeue', sans-serif;
}
.single-product .product-info-wrapper .product-name {
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .product-name-text {
  font: 20px/20px 'HelveticaNeue', sans-serif;
}

.single-product .product-info-wrapper .product-price {
  height: 31px;
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .price-1 {
  font: 14px/14px 'Futura', sans-serif;
  color: #333;
}
.single-product .product-info-wrapper .price-2 {
  /* joe note: make this same size? */
  font: 12px/12px 'Futura', sans-serif;
  color: #9a9a9a;
}
.single-product .product-info-wrapper .price-1 .price-label,
.single-product .product-info-wrapper .price-2 .price-label {
  color: #9a9a9a;
  text-transform:uppercase;
}
.single-product .product-info-wrapper .product-sale-price {
  margin-bottom: 5px;
}
.single-product .product-info-wrapper .product-sale-price .price-label {
  /* joe note: alter the color to gray? */
  color:#F70C0C;
}

.single-product .product-info-wrapper .product-ships-from {
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .product-ships-from-text {
  font: 22px/22px "Futura-CondensedMedium", sans-serif;
  color: #333;
}

.single-product .product-info-wrapper .product-description-text {
  font:13px/17px "HelveticaNeue", sans-serif;
  height:84px;
  overflow:auto;
}

.single-product .product-info-wrapper .product-return-policy-url-text {
  float: right;
}
.single-product .product-info-wrapper .product-return-policy-url-text a {
  color: #9a9a9a;
  font: italic 14px/14px "HelveticaNeue", sans-serif;
}

.single-product .product-info-wrapper .color-and-size-selects {
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .colors,
.single-product .product-info-wrapper .sizes {
  width: 165px;
  height: 22px;
  color: #333;
  font: 14px/22px "Futura", sans-serif;
  text-transform:lowercase;
  float:left;
}
.single-product .product-info-wrapper .colors-label,
.single-product .product-info-wrapper .sizes-label {
  color: #9a9a9a;
  text-transform:uppercase;
}
.single-product .product-info-wrapper .select-color,
.single-product .product-info-wrapper .select-size {
  width:100px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border: 1px solid #aaa;
  padding: 4px;
  color: #555;
}

.single-product .product-info-wrapper .frame-button,
.single-product .product-info-wrapper .add-to-cart-button {
  width:122px;
  text-align:center;
  cursor:pointer;
  position: relative;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  font: 14px/33px 'HelveticaNeue', Helvetica, sans-serif;
  word-spacing: 1px;
  padding: 0 10px 0 11px;
  margin: 5px 0 10px 0;
}
.single-product .product-info-wrapper .frame-button:hover,
.single-product .product-info-wrapper .add-to-cart-button:hover {
  color: #000;
  background: #fff;
  border-color: #000;
}

.single-product .product-info-wrapper .share-block {
  position:absolute;
  top:371px;
}
.single-product .product-info-wrapper .share-button {
  width: auto;
  height: 24px;
  margin-bottom: 0;
  text-transform: Capitalize;
  opacity: .4;
  filter: alpha(opacity=40);
  line-height:23px;
  margin-left: 0;
}
.share-input {
  width: 300px;
  height: 20px;
  border: 1px solid black;
}
.share-overlay {
  display: none;
}

.single-product .social-buttons-wrapper {
  position: absolute;
  top: 380px;
  right: 0;
  height:20px;
}

.single-product .social-buttons-wrapper .social-button {
  float: right;
  margin-left: 5px;
}

.single-product .more-from-brand-wrapper {
  width: 48%;
  float:left;
  text-align:center;
}
.single-product .more-from-category-wrapper {
  width: 48%;
  float:right;
  text-align:center;
}
.single-product .more-from-brand-label,
.single-product .more-from-category-label {
  font: 14px/14px 'Futura', sans-serif;
  text-transform: uppercase;
  color: #9a9a9a;
  margin-bottom: 5px;
}
.single-product .more-from-brand-wrapper ul,
.single-product .more-from-category-wrapper ul {
  width: 330px;
  margin: auto;
}
.single-product .more-from-brand-wrapper ul li,
.single-product .more-from-category-wrapper ul li {
  height:98px;
  width:98px;
  float:left;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 0 5px;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.single-product .poweredBy {
  display:block;
  height:54px;
  width:108px;
  bottom:-1px;
  right:9px;
  position:absolute;
}
.single-product .poweredBy-spacer {
  height:34px; /* .poweredBy_height - .single-product_padding */
}


/* grid styles! */
.product-grid {
  width: 960px;
}
.product-grid .poweredBy {
  height:54px;
  width:108px;
  float:right;
}
.product-grid .poweredBy::after {
  clear: both;
}
.product-grid .blank-cell,
.product-grid .product {
  float:left;
  width: 230px;
  height:442px;
  clear:none;
  margin:5px;
}
.product-grid .product .product-image {
  border:1px solid #333;
  height:320px;
  overflow:hidden;
}
.product-grid .product-image .product-image-src {
  width: 228px;
  height: 320px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.product-grid .unavailable-text {
  display: none;
}
.product-grid .product-info {
  width:232px;
  min-height:110px;
  overflow:hidden;
}
.product-grid .product-brand-name {
  font: 16px/16px 'HelveticaNeue', Helvetica, sans-serif;
  line-height: 18px;
  color: #333;
  font-weight: bold;
}
.product-grid .product-name {
  display:none;
}
.product-grid .product-retail-price .price-label,
.product-grid .product-sale-price .price-label {
  color:#9a9a9a;
}
.product-grid .price-1 {
  font: 16px/16px 'Futura', Helvetica, sans-serif;
  color: #333;
  margin: 5px 0 0 0;
  text-transform: uppercase;
}
.product-grid .price-2 {
  display:none;
}
.product-grid .modal-trigger {
  cursor:pointer;
}

/* link frame styles */
.product-link {
  display:inline;
}
.product-link-trigger {
  text-decoration: underline;
}
.product-link .product-link-payload {
  /* only within .product-modal block */
  display:none;
}

/* modal styles */
.linkFrameModal,
.singleProductModal {
  width:940px;
  border: 5px solid #000;
  padding:10px;
  margin: -220px 0 0 -481px;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 1050;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.close-product-modal {
  z-index:10;
  width:15px;
  height:15px;
  text-indent: -9999px !important;
  background:url(../images/close.png) no-repeat top center;
  position:absolute;
  top:10px;
  right:10px;
}

.last-product-in-modal {
  display: none;
  z-index:10;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-family: helvetica;
  color: #af0000;
  font-weight: 100;
  padding: 5px 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color:#000;
}
.modal-backdrop.fade.in {
  opacity:0.7;
  filter: alpha(opacity=70);
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.in {
  opacity:1;
}

/* slideshow styles */
.product-slideshow.carousel {
  width:920px;
  position:relative;
}
.carousel-inner {
  height: 660px;
  position: relative;
  overflow: hidden;
}
.product-slideshow.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -ms-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.product-slideshow.carousel .item > img {
/*  display: block;
  line-height: 1;*/
}
.product-slideshow.carousel .active,
.product-slideshow.carousel .next,
.product-slideshow.carousel .prev {
  display: block;
}
.product-slideshow.carousel .active {
  left: 0;
}
.product-slideshow.carousel .next,
.product-slideshow.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.product-slideshow.carousel .next {
  left: 100%;
}
.product-slideshow.carousel .prev {
  left: -100%;
}
.product-slideshow.carousel .next.left,
.product-slideshow.carousel .prev.right {
  left: 0;
}
.product-slideshow.carousel .active.left {
  left: -100%;
}
.product-slideshow.carousel .active.right {
  left: 100%;
}
.product-slideshow.carousel .carousel-control {
  width: 40px;
  height: 80px;

  top: 230px;

  position: absolute;
  left: 0px;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  line-height: 68px;
  color: #ffffff;
  background: #222222;

  opacity: 0.0;
  filter: alpha(opacity=00);

  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50-12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
.product-slideshow.carousel .carousel-control.right {
  right: 0px;
  left: auto;
}
.product-slideshow.carousel:hover .carousel-control {
  opacity: 0.5;
  filter: alpha(opacity=50);
  display:block;
}
.product-slideshow.carousel:hover .carousel-control:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px) {
  .single-product {
    padding: 0px;
    width: 100%;
    position: relative;
  }

  .single-product .product-image-wrapper {
    float: none;
    width: 100%;
  }

  .single-product .product-image-wrapper .product-image-slideshow div.product-image-slide.first {
    margin-left:5%;
  }
  .single-product .product-image-wrapper .product-image-slideshow div.product-image-slide {
    width: 18%;
    margin-right: 0px;
    opacity:.5;
    filter: alpha(opacity=50);
    border: 0px;
  }
  .single-product .product-image-wrapper .product-image-slideshow div.product-image-slide.active {
    opacity: 1;
    filter:(alpha=100);
    border: 0px;
  }
  .single-product .product-image-wrapper .product-image-slideshow div.product-image-slide.last {
    margin-left: 0px;
  }
  .single-product .product-image-wrapper .product-image-slideshow .carousel-control {
    width: 5%;
    height: 50px;
  }

  .single-product .product-image-wrapper .product-image-slideshow::after {
    clear: both;
  }

  .single-product .product-info-wrapper {
    clear: left;
    float: none;
    width: 100%;
    margin: auto;
  }

  .single-product .product-info-wrapper .color-and-size-selects .sizes {
    float: right;
  }

  .single-product .product-info-wrapper .colors,
  .single-product .product-info-wrapper .sizes {
    width: 50%;
    text-align: center;
  }

  .single-product .add-to-cart {
    clear:both;
    margin: auto;
  }
  .single-product .product-info-wrapper .add-to-cart-button {
    width: 100%;
  }
  .single-product .product-info-wrapper .share-block {
    position: static;
    margin-bottom: 15px;
  }
  .single-product .social-buttons-wrapper {
    width:225px;
    position: static;
    margin: auto;
  }
  .single-product .more-from-brand-wrapper,
  .single-product .more-from-category-wrapper {
    width: 100%;
    height:120px;
    float: none;
    margin: auto;
    margin-bottom: 20px;
  }
  .single-product .more-from-brand-wrapper ul,
  .single-product .more-from-category-wrapper ul {
    width: 300px;
  }
  .single-product .more-from-brand-wrapper ul li,
  .single-product .more-from-category-wrapper ul li {
    margin: 0px;
  }

  .single-product .poweredBy-spacer {
    display:none;
  }
  .single-product .poweredBy {
    position: static;
    float: right;
  }

  .product-grid {
    width: auto;
  }

  .carousel {
    width:100%;
  }

  .linkFrameModal,
  .singleProductModal {
    width:100%;
    margin: 0; /* -220px 0 0 -240px */
  }

}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width: 568px) {
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px)
and (max-height : 440px) {
}
@media only screen
and (max-width : 320px)
and (min-height : 441px) {
}
/* tablets! (ipad) */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
}
/* ipad landscape */
@media only screen
and (min-width: 769px)
and (max-width: 1024px) {
}
/* ipad portrait */
@media only screen
and (max-width: 768px)
and (min-width: 569px){
}


/* misc */
.clear {
  clear: both;
}
.hide {
  display: none;
}
.spacer {
  width: 100%;
  height: 20px;
}
body.modal-open {
  overflow: hidden !important;
}
