p {margin-bottom:10px;}

#header {
  z-index:1000;
}

.article_sec {
}

#frame1 {
  height:800px;
}

#get-it-now-container {
  float:left;
  margin:0 15px 15px 0;
  width:200px;
  text-align:center;
  position:relative;
}
#get-it-now-container img {
  margin-bottom:10px;
}
#get-it-now-container .shop_btn {
  bottom:15px;
  right:13px;
}

#see-more-container {
  position:relative;
}

#alexander-wang-copy {
  float:right;
  width:750px;
}



.clear {
  clear:both;
}