p {margin-bottom:10px;}

.article_sec {
	position:relative;
}

#frame1 {
  height:800px;
}

#get-it-now-container {
  float:left;
  margin:0 15px 15px 0;
  width:200px;
  text-align:center;
}
#get-it-now-container img {
  margin-bottom:10px;
}