/* resets */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
a {
  text-decoration: none;
}

/* single frame styles */

.single-product {
  width:880px;
  padding:20px;
  position:relative;
  /* joe note: temporary border style */
  border:4px solid #000;
  margin:auto;
}

.single-product .product-image-wrapper {
  width: 38%; /* 370px */
  margin: 0px;
  float: left;
}
.single-product .product-image-wrapper .product-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.single-product .product-image-wrapper .product-image-slides {
  width: 100%;
}
.single-product .product-image-wrapper .product-image-slides ul li {
  height: 50px;
  width: 50px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #CCC;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.single-product .product-image-wrapper .product-image-slides ul li.active {
  border: 1px solid black;
}
.single-product .product-image-wrapper .product-image-slides ul li.last {
  margin-right: 0px;
}

.single-product .product-info-wrapper {
  width: 60%; /* 555px */
  margin: 0px;
  float: right;
  position: relative;
}

.single-product .product-info-wrapper .see-reviews {
  width: 150px; /* find %? */
  position: absolute;
  right: 0px;
}
.single-product .product-info-wrapper .see-reviews-review {
  float:left;
  height: 15px;
}
.single-product .product-info-wrapper .see-reviews-label {
  float:right;
  font: 12px/15px 'HelveticaNeue', sans-serif;
}

.single-product .product-info-wrapper .product-brand-name {
  margin-bottom: 5px;
}
.single-product .product-info-wrapper .product-brand-name-text {
  font: bold 28px/28px 'HelveticaNeue', sans-serif;
}
.single-product .product-info-wrapper .product-name {
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .product-name-text {
  font: 20px/20px 'HelveticaNeue', sans-serif;
}

.single-product .product-info-wrapper .product-price {
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .price-1 {
  font: 14px/14px 'Futura', sans-serif;
  color: #333;
}
.single-product .product-info-wrapper .price-2 {
  /* joe note: make this same size? */
  font: 12px/12px 'Futura', sans-serif;
  color: #9a9a9a;
}
.single-product .product-info-wrapper .price-1 .price-label,
.single-product .product-info-wrapper .price-2 .price-label {
  color: #9a9a9a;
  text-transform:uppercase;
}
.single-product .product-info-wrapper .product-sale-price {
  margin-bottom: 5px;
}
.single-product .product-info-wrapper .product-sale-price .price-label {
  /* joe note: alter the color to gray? */
  color:#F70C0C;
}

.single-product .product-info-wrapper .product-ships-from-text {
  font: 16px/16px "Futura", sans-serif;
  color: #333;
}

.single-product .product-info-wrapper .product-description-text {
  font:16px/21px Calibri, Times New Roman, serif;
  height:84px;
  overflow:auto;
}

.single-product .product-info-wrapper .product-return-policy-url-text {
  float: right;
}
.single-product .product-info-wrapper .product-return-policy-url-text a {
  color: #9a9a9a;
  font: italic 14px/14px "HelveticaNeue", sans-serif;
}

.single-product .product-info-wrapper .color-and-size-selects {
  margin-bottom: 15px;
}
.single-product .product-info-wrapper .colors,
.single-product .product-info-wrapper .sizes {
  width: 165px;
  height: 22px;
  color: #333;
  font: 14px/22px "Futura", sans-serif;
  text-transform:lowercase;
  float:left;
}
.single-product .product-info-wrapper .colors-label,
.single-product .product-info-wrapper .sizes-label {
  color: #9a9a9a;
  text-transform:uppercase;
}
.single-product .product-info-wrapper .select-color,
.single-product .product-info-wrapper .select-size {
  width:100px;
}

.single-product .product-info-wrapper .frame-button,
.single-product .product-info-wrapper .add-to-cart-button {
  width:122px;
  text-align:center;
  cursor:pointer;
  position: relative;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  font: 14px/33px 'HelveticaNeue', Helvetica, sans-serif;
  word-spacing: 1px;
  padding: 0 10px 0 11px;
  margin: 5px 0 10px 0;
}
.single-product .product-info-wrapper .frame-button:hover,
.single-product .product-info-wrapper .add-to-cart-button:hover {
  color: #000;
  background: #fff;
  border-color: #000;
}

.single-product .product-info-wrapper .share-block {
  position:absolute;
  top:371px;
}
.single-product .product-info-wrapper .share-button {
  width:auto;
  height:24px;
  margin-bottom:0px;
  text-transform:Capitalize;
  opacity:.4;
  filter: alpha(opacity=40);
  line-height:23px;
  margin-left:0px;
}
.share-input {
  width: 300px;
  height: 20px;
  border:1px solid black;
}
/* joe note: this going away? */
.share-overlay {
}

.single-product .social-buttons-wrapper {
  position: absolute;
  top: 380px;
  right: 0px;

  height:20px;
}

.single-product .more-from-brand-wrapper {
  width: 48%;
  float:left;
  text-align:center;
}
.single-product .more-of-product-wrapper {
  width: 48%;
  float:right;
  text-align:center;
}
.single-product .more-from-brand-label,
.single-product .more-of-product-label {
  font: 12px/12px "HelveticaNeue", sans-serif;
  margin-bottom: 5px;
}
.single-product .more-from-brand-wrapper ul,
.single-product .more-of-product-wrapper ul {
  width: 330px;
  margin: auto;
}
.single-product .more-from-brand-wrapper ul li,
.single-product .more-of-product-wrapper ul li {
  height:98px;
  width:98px;
  float:left;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 0 5px;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.single-product .poweredBy {
  display:block;
  height:54px;
  width:108px;
  bottom:-1px;
  right:9px;
  position:absolute;
}
.single-product .poweredBy-spacer {
  height:34px; /* .poweredBy_height - .single-product_padding */
}





/* in progress */


.zoomImg {
}



/* misc */
.clear {
  clear: both;
}
.hide {
  display: none;
}
.spacer {
  width: 100%;
  height: 20px;
}

/* bootstrap carry-overs */
/* .nav-tabs */
.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom:10px;
}

.nav-tabs > li {
  margin-bottom: 6px;
}

.nav-tabs > li > a {
  color: #CCC;
  font: 14px "HelveticaNeue", sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
