/* resets */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
a {
  text-decoration: none;
}



/* single frame styles */

.single-product {
  width:925px;
}

.single-product .product-image-wrapper {
  width: 40%; /* 370px */
  margin: 0px;
  float: left;
}
.single-product .product-image-wrapper .product-image {
  width: 100%;
}
.single-product .product-image-wrapper .hero-slides {
  width: 100%;
}
.single-product .product-image-wrapper .hero-slides img {
  float: left;
  margin-right: 20px;
}
.single-product .product-image-wrapper .hero-slides img.active {
  /* joe note: need to adjust margins */
  border: 1px solid black;
}
.single-product .product-image-wrapper .hero-slides img.last {
  margin-right: 0px;
}

.single-product .product-info-wrapper {
  width: 60%; /* 555px */
  margin: 0px;
  float: right;
  position: relative;
}
.single-product .product-info-wrapper .see-reviews {
  width: 145px; /* find %? */
  position: absolute;
  right: 0px;
}
.single-product .product-info-wrapper .product-brand-name-text {
  font: bold 28px/28px 'HelveticaNeue', sans-serif;
}
.single-product .product-info-wrapper .product-name-text {
  font: 20px/20px 'HelveticaNeue', sans-serif;
}
.single-product .product-info-wrapper .price-1 {
  font: 16px/16px 'Futura', sans-serif;
  color: #333;
}
.single-product .product-info-wrapper .price-2 {
  font: 12px/12px 'Futura', sans-serif;
  color: #9a9a9a;
}
.single-product .product-info-wrapper .price-1 .price-label,
.single-product .product-info-wrapper .price-2 .price-label {
  color: #9a9a9a;
  text-transform:uppercase;
}
.single-product .product-info-wrapper .product-sale-price .price-label {
  color:#F70C0C;
}
.single-product .product-info-wrapper .product-ships-from-text {
  font: 16px/16px "Futura", sans-serif;
  color: #333;
}
.single-product .product-info-wrapper .product-description-text {
  font:16px/21px Calibri, Times New Roman, serif;
  max-height:160px;
  overflow:auto;
}
.single-product .product-info-wrapper .colors,
.single-product .product-info-wrapper .sizes {
  color:#333;
  font: 14px/14px "Futura", sans-serif;
  text-transform:uppercase;
}
.single-product .product-info-wrapper .select-color,
.single-product .product-info-wrapper .select-size {
  width:100px;
}


/* in progress */


.zoomImg {
  display:none;
}




/* bootstrap carry-overs */
/* .nav-tabs */
.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
