
body {
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  color: #006dcc;
}

a:hover, a:focus {
  color: #af0000;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

a:active {
  color: #003399;
}

.container-outer {
  background: #f0f0f0;
  color: #222;
}

.container-outer.container-dark {
  color: #f0f0f0;
  background: #222;
}

.btn-lux {
  color: #efefef;
  background: #0845AB;
  border: 1px solid #0845AB;
  text-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-lux:hover {
  color: #FFF;
  background: #073A92;
  border: 1px solid #073A92;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn-lux:active {
  background: #003399;
  border: 1px solid #003399;
}

.popover .row .right-actions .continue-link,
.cart-modal .row .right-actions .continue-link {
  width: 186px;
}
.popover .row .right-actions .checkout_link,
.cart-modal .row .right-actions .checkout_link {
  margin-left:15px;
  width: 106px;
}


input, select {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border:0;
}

.alert {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.field-inline {
  display: inline-block
}
form {
  margin: 0;
}
.no-margin {
  margin: 0;
}

.block-header {
  padding: 0 0 20px 0;
  margin: 0 auto 20px auto;
  text-align: center;
}

.block-footer {
  padding: 20px 0 0 0;
  margin: 20px auto 0 auto;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

.block-footer a {
  font-weight: 200;
}

.block-header h1 {
  text-transform: uppercase;
  margin: 40px 0 10px 0;
  display: inline-block;
  padding: 5px 10px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 36px;
}

.block-header p {
  font-size: 18px;
  margin-right: 20px;
  font-weight: 100;
  letter-spacing: 1px;

}

.promo-title {
  font-size: 22px;
  font-weight: bold;
}

.promo-icon {
  margin: 0 auto 20px auto;
  font-size: 60px;
  color: #0088cc;
}

.promo-block {
  margin: 50px auto 50px auto;
  text-align: center;
  background: #CCC;
  padding: 20px;
  color: #222;
  height: 180px;
  width: 220px;
}

.btn {
  font-weight: 200;
  letter-spacing: 1px;
}

.align-center {
  text-align: center;
}

.form-inline-inner {
  display: inline-block;
}