@font-face {
    font-family: 'NeutraDisplayThinAltMedium';
    src: url('../font/neutradisp-mediumalt-webfont.eot');
    src: url('../font/neutradisp-mediumalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/neutradisp-mediumalt-webfont.woff') format('woff'),
         url('../font/neutradisp-mediumalt-webfont.ttf') format('truetype'),
         url('../font/neutradisp-mediumalt-webfont.svg#NeutraDisplayThinAltMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeutraDisplayThinMedium';
    src: url('../font/neutradisp-medium-webfont.eot');
    src: url('../font/neutradisp-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/neutradisp-medium-webfont.woff') format('woff'),
         url('../font/neutradisp-medium-webfont.ttf') format('truetype'),
         url('../font/neutradisp-medium-webfont.svg#NeutraDisplayThinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeutraDisplayAltBold';
    src: url('../font/neutradisp-boldalt-webfont.eot');
    src: url('../font/neutradisp-boldalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/neutradisp-boldalt-webfont.woff') format('woff'),
         url('../font/neutradisp-boldalt-webfont.ttf') format('truetype'),
         url('../font/neutradisp-boldalt-webfont.svg#NeutraDisplayAltBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeutraDisplayBold';
    src: url('../font/neutradisp-bold-webfont.eot');
    src: url('../font/neutradisp-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/neutradisp-bold-webfont.woff') format('woff'),
         url('../font/neutradisp-bold-webfont.ttf') format('truetype'),
         url('../font/neutradisp-bold-webfont.svg#NeutraDisplayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MonotypeModernStdBoldItalic';
    src: url('../font/modernmtstd-bolditalic-webfont.eot');
    src: url('../font/modernmtstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/modernmtstd-bolditalic-webfont.woff') format('woff'),
         url('../font/modernmtstd-bolditalic-webfont.ttf') format('truetype'),
         url('../font/modernmtstd-bolditalic-webfont.svg#MonotypeModernStdBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ModernMTStdExtendedRegular';
    src: url('../font/modernmtstd-extended-webfont.eot');
    src: url('../font/modernmtstd-extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/modernmtstd-extended-webfont.woff') format('woff'),
         url('../font/modernmtstd-extended-webfont.ttf') format('truetype'),
         url('../font/modernmtstd-extended-webfont.svg#ModernMTStdExtendedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Conv_ModernMT_Extended_Italic';
	src: url('../font/ModernMT_Extended_Italic.eot');
	src: local('☺'), url('../font/ModernMT_Extended_Italic.woff') format('woff'), url('../font/ModernMT_Extended_Italic.ttf') format('truetype'), url('../font/ModernMT_Extended_Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
