#widget-14747060,
.widget-inner {
  background-color: #fff !important;
  left: 0px !important;
}

.main-stat.t-size-x108 {
  color: #000;
  font-size: 52px;
}

html {
  background:none;
  height:none;
}

body {
  padding-top:0px !important;
  overflow:hidden;
  background: none;
}

a.led.success,
header {
  display:none !important;
}

section.widget-body.number-widget {
  padding: 0 !important;
}

.dashboard-sized-el {
  margin: 0 !important;
}

#dashboard.dashboard-sized-el,
.wf-proximanova-i4-active.wf-proximanova-n3-active.wf-proximanova-n4-active.wf-proximanova-n6-active.wf-proximanova-n7-active.wf-active,
.widget-inner.widget-size-2x2.large-screen {
  height: 55px !important;
}