@import "font.css";

body {
  /*min-width:1200px;*/
  margin:0;
  font-size:16px;
  /*font:'ModernMTStdExtendedRegular';*/
}

a {
  color: #006dcc;
}

a:hover, a:focus {
  color: #af0000;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;

}

a:active {
  color: #003399;
}

/** primarily retailer and landing page styles **/
#retailer-page,
#landing-page {
  color:#efefef !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform:uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h2.unstyle, h3.unstyle, h4.unstyle, h5.unstyle, h6.unstyle {background:none !important;text-transform:none;font-family:'ModernMTStdExtendedRegular', 'Times New Roman', Times, serif;}

span.font-fix {letter-spacing: 2px;}

h3 sup {font:10px 'Helvetica Neue',Georgia;}
#header {
  width:100%;
  height:196px;
}
#header-inner {
  width:960px;
  margin:auto;
  height:100%;
  position:relative;
}
a#header-logo {
  float:left; /* on watch */
 }
#header ul {
  float:left;
  list-style-type:none;
}
#header ul li {
  float:left;
}
ul#login-nav {
  display: none;
  position:absolute;
  top: 103px;
  right: 0;
}
ul#login-nav li a {
  display: inline-block !important;
  color: #006dcc;  /* black; */
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration:none;
  text-transform: uppercase; 
  line-height: 22px;
  padding: 7px 19px;
  background: #FFF;
  width: 150px;
  text-align: center;
}
ul#login-nav li a:hover, ul#header-nav li a:hover {
  color: #af0000;
  font-weight: 300;
  background: #FAFAFA;

  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;

}
ul#header-nav {
  position:absolute;
  top: 55px;
  right: 0;
}
ul#header-nav li.last {
  padding-right:0px;
}
ul#header-nav li a {
  display: inline-block !important;
  color: #006dcc;  /* black; */
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration:none;
  text-transform: uppercase; 
  line-height: 32px;
  padding: 11px 19px;
/*  width: 150px;
*/  text-align: center;
}

ul#header-nav li a:hover, .header-social .text-link:hover {
  color: #222;
}
ul#header-nav li a:active, .header-social .text-link:active {
  background: #CCC;
}

ul#header-nav li a.active, ul#header-nav li a.active:hover {
  /*text-decoration:underline;*/
  background: #AF0000;
  color: #EFEFEF;
}

ul#header-social {
  list-style-type: none;
  width:auto;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 100px;
  opacity: .5; filter:alpha(opacity=50);
}
ul#header-social:hover {
  opacity: 1; filter:alpha(opacity=100);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
ul#header-social li {
  padding: 0;
}
ul#header-social li a {float:left; padding: 0;}
/*ul#header-social li a.msg{background:url(../img/social_link.gif) no-repeat 0 0; width:19px; height:19px;}
ul#header-social li a.fb{background:url(../img/social_link.gif) no-repeat -22px 0; width:19px; height:19px;}
ul#header-social li a.twitter{background:url(../img/social_link.gif) no-repeat -42px 0; width:19px; height:19px;}
ul#header-social li a.pinterest{background:url(../img/social_link.gif) no-repeat -64px 0; width:19px; height:19px;}
*/

ul#header-social li a.msg { background:url(../img/email_16.png) no-repeat 50% 50%; width:32px; height:32px; }
ul#header-social li a.fb { background:url(../img/facebook_16.png) no-repeat 50% 50%; width:32px; height:32px; }
ul#header-social li a.twitter { background:url(../img/twitterbird_16.png) no-repeat 50% 50%; width:32px; height:32px; }
ul#header-social li a.pinterest { background:url(../img/pinterest_16.png) no-repeat 50% 50%; width:32px; height:32px; }

ul#header-social li a.msg:hover { background: #EEE url(../img/email_16.png) no-repeat 50% 50%; }
ul#header-social li a.fb:hover { background: #EEE url(../img/facebook_16.png) no-repeat 50% 50%; }
ul#header-social li a.twitter:hover { background: #EEE url(../img/twitterbird_16.png) no-repeat 50% 50%; }
ul#header-social li a.pinterest:hover { background: #EEE url(../img/pinterest_16.png) no-repeat 50% 50%; }

ul#header-social li a.msg:active { background: #CCC url(../img/email_16.png) no-repeat 50% 50%; }
ul#header-social li a.fb:active { background: #CCC url(../img/facebook_16.png) no-repeat 50% 50%; }
ul#header-social li a.twitter:active { background: #CCC url(../img/twitterbird_16.png) no-repeat 50% 50%; }
ul#header-social li a.pinterest:active { background: #CCC url(../img/pinterest_16.png) no-repeat 50% 50%; }

ul#header-social li a:hover {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.header-social .text-link {
  color: black;
  font: 11px 'Helvetica Neue';
  text-decoration:none;
  text-transform: uppercase; 
  /* VIVEK */
  display: inline-block;
  line-height: 32px;
  padding: 0 10px !important;
  background: #FAFAFA;
}

.lux-widget {
  position:absolute;
  bottom: -32px;
  width:160px;

  text-transform: uppercase;
  color:#efefef;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}
#live-skus {
  width:175px;
  right:0px;
}
#total-brands {
  right: 190px;
}
.lux-widget div.first-line {
  color: #000;
  font-size: 51px;
  line-height: 50px;
}
iframe {
  border:none;
  overflow:hidden;
}
.lux-widget div.second-line {
  font-size: 26px;
  line-height: 26px;
}
.lux-widget div.third-line {
  font-size: 35px;
  line-height: 35px;
}

/* all .pane-rows */
.pane-row {
  width:100%;
  margin:0;
}

.pane-footer {
  margin: 30px 0;
  font-weight: 100;
  letter-spacing: 1px;
}
/* all .inner styles */
.inner {
  margin:auto;
  width:960px;
  position:relative;
}
.section-sub-title-outer {
  height: 50px;
  margin: 30px 0;
}
.section-title-outer {
  background: url(../img/key-line.jpg) repeat-x left center;
  width: 100%;
}
.section-title-outer.footer {
  background: url(../img/footer_heading.jpg) repeat-x left center;
  width: 100%;
}
.section-title {
  margin: 40px 0;
  display: inline-block;
  padding: 5px 10px;
}
.pane1 .section-title {
  background: #222;
}
.pane3 .section-title {
  background: #FFF;
}
.pane2 .section-title {
  background: #F0F0F0;
}
.pane4 .section-title {
  background: #222;
  color: #EFEFEF;
}

.pane4-image {
  position: absolute;
  bottom: 0;
  left: -120px;
}
.pane-row.pane1 {
  background-color:#222;
  height:485px;
  padding:1px 0 0 0; /* this is here.. to make sure there's the margin.  No idea why this works */
}

.pane1 .container {
  height: 485px;
}

/*.pane-row.pane1 .inner h1 {
  text-align: center;
  color:#efefef;
  text-transform:uppercase;
  width: 540px;
  /* add to .pane1 margin-top */
  /*margin:47px 0 41px 0;
}
.pane-row.pane1 .inner h1 div {
  width: 425px;
  margin: auto;
  font-weight:bold;
  padding-bottom:13px;
  border-bottom:1px solid #fff;
}*/

.platform-icons-container {
  text-align: center;
}

.platform-icons {
  list-style-type: none;
  margin: 0 0 20px 0;
}
#glyphish-icons li {
  width:52px;
  height:30px;
  line-height:37px;
  font-size:16px;
  display: inline-block;
  margin: 0 10px;
}
#glyphish-icons li.web {
  background:url(../img/174-imac.png) no-repeat left 6px;
  padding-left:36px;
  margin-right:8px;
}
#glyphish-icons li.tablet {
  background:url(../img/176-ipad.png) no-repeat left 8px;
  padding-left:23px;
  margin-right:17px;
}
#glyphish-icons li.mobile {
  background:url(../img/32-iphone.png) no-repeat left 10px;
  padding-left:20px;
}

.left-container {
  position: absolute;
  width: 470px;
  top: 100px;
  left: 0;
}

.right-container {
  position: absolute;
  width:470px;
  top: 100px;
  right: 0;
}
.video-container {
  position:absolute;
  top: 130px;
  left: -190px;
  width:753px;
  height:372px;
  background:url(../img/banner.png) no-repeat top center;
}

.text-container {
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 20px;
}

.text-container ol {
  margin-top: 10px;
}

.text-container li {
  margin-top: 5px;
}

#play-container {
  position:absolute;
  left:136px;
  padding-top:13px;
  top:27px;
  height:287px;
  width:487px;
  background:black;
  text-align:center;
  cursor:pointer;
}
#play-container .video-splash {
  height:287px;
  width:487px;
  background:url(../img/video_splash.png) no-repeat top center;
}
#retailer-page #play-container .video-splash {
  height:287px;
  width:487px;
  background:url(../img/retailer_video_splash.png) no-repeat top center;
}
#play-container span {
  text-transform: uppercase;
  font:20px 'NeutraDisplayThinMedium';
}
#play-container span.font-fix {
  font:26px 'NeutraDisplayThinMedium',Georgia;
  letter-spacing: 2px;
}
#play-container .play-button {
  position:absolute;
  top:100px;
  left:100px;
}

#features-container {
  float:right;
  width:400px;
  min-height:290px;
}
#features-container h3 {
  text-transform: none;
  font-weight:bold;
}
#features-container ul {
  width:175px;
  float:left;
}

#features-container ul li {
  font-family: "Helvetica Neue", sans-serif;
  font-size:16px;
  margin-top:10px;
}

#landing-page #features-container ul {
  margin-top:5px;
}

#landing-page #features-container ul li {
  margin-top:20px;
}

#features-container ul.full-width {
  width: 100%;
  float: none;
  margin-top:20px;
}

#features-container p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-align:center;
  line-height:20px;
}
#features-container p.call-to-action {
  font-style: italic;
  position: absolute;
  bottom: 85px;
  width: 290px;
  right:53px;
  font-size: 16px;
  line-height:18px;
}

.pane1a.pane-row {
  background:#FAFAFA;
  color:#333;
  margin:0;
  padding:20px 0 40px 0;
}

.big-stat {
  color: #000;
  font-size: 52px;
  margin-top: 25px;
}

.big-stat span {
}

.pane2.pane-row {
  background:#F0F0F0;
  color:#333;
  margin:0;
  height: 490px;
}
#retailer-page .pane2.pane-row {padding-bottom:0;} /* special override for the retailer page */
.pane2.pane-row h3 {
  background: url(../img/key-line.jpg) repeat-x left center;
  margin:0 0 30px 0;
}
.pane2.pane-row h3 div {
  text-transform: uppercase;
  color: black;
  background:#F0F0F0;
  margin:auto;
  text-align:center;
}
.pane2.pane-row h3 div.featured-in {width:160px;}
.pane2.pane-row h3 div.featured-in a {color:#000;}
.pane2.pane-row h3 div.featured-in a:hover {text-decoration: none;}
.pane2.pane-row h3 div.retailer-benefits {width:290px;}
.pane2.pane-row .left {
  width:465px;
}
.pane2.pane-row .right {
  width:415px;
  margin-right:35px;
}
.pane2.pane-row .right ul {
  margin-top:21px;
}
.pane2.pane-row .right ul li {
  margin-bottom:15px;
}
#retailer-page .pane2.pane-row .right p {
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  word-spacing: 2px;
}
#retailer-page .pane2.pane-row .right ul {
  margin-left: 61px;
  padding-right: 0px;
}
#retailer-page .pane2.pane-row .right ul li {
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  font-size:14px;
}
ul#featured-in-list {
  margin:0 0 20px 0;
  list-style-type:none;
  width:100%;
}
ul#featured-in-list li {
  width:178px;
  margin-right:12px;
  float:left;
}
ul#featured-in-list li.last {
  margin-right:0px;
  float:right;
}
.entrepreneur{
  background:url(../img/entrepre.png) 0 0px no-repeat;
  width:172px ;
  height:39px;
  margin-left: 4px;
  margin-top: 3px;
}
.gigaom{float:left;
  background:url(../img/gigaom.png) 0 0px no-repeat;
  width:178px;
  height:33px ;
  margin: 2px 0 7px 0px;
}
.tnw{float:left;
  background:url(../img/tnw.png) 0 0px no-repeat;
  width:102px ;
  height:41px ;
  margin-left: 39px;
}
.techcrunch{float:left;
  background:url(../img/tech.png) 0 0px no-repeat;
  width:163px ;
  height:28px ;
  margin-left: 6px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.instyle{float:left;
  background:url(../img/instyle-gray.png) 0 0px no-repeat;
  width:172px ;
  height:41px ;
  margin-left: 6px;
  margin-top: 4px;
}
.featured-wrap {
  float: left;
  width: 178px;
  background-color: white;
  position: relative;
  margin-top: 43px;
  height: 192px;
}
.featured-wrap .copy {
  float: left;
  font-size: 14px;
  padding: 17px 7px 4px 20px;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 200;
}
.last .featured-wrap {
  margin-top:39px;
}
.pointer {
  position:absolute;
  top:-22px;
  left:77px;
  background:url(../img/comment-show.png) 0 0 no-repeat;
  width:25px;
  height:22px;
}

/* pane3 */
.pane3.pane-row {
  background:#fff;
  color:#222;
}

#landing-page .pane3.pane-row h3 div {
  width:211px;
  margin:auto;
  background:#fff;
}
#retailer-page .pane3.pane-row h3 div {
  width:339px;
  margin:auto;
  background:#fff;
}
#retailer-page .pane3.pane-row a {
  display:block;
  width:231px;
  height:213px;
  line-height:213px;
  float:left;
  margin-right:7px;
}
#retailer-page .pane3.pane-row a.last {
  float:right;
  width:241px;
  margin-right:0px;
}

.logo-holder {
  margin-bottom:60px;
}
.logo-holder a {
  margin-right:11px;
}
.logo-holder a.last {
  margin-right:0px;
}

.pane-row .container {
  position:relative;
}
/* pane4 */
.pane4.pane-row {
  background-color:#222;
  color: #EFEFEF;
  height: 500px;
}
.pane4.pane-row .container {
  height: 500px;
}

.pane4 sup {
  font-size: 14px;
  top: -1.5em;
}
.pane5.pane-row {
  background:#fff;
  color:#222;
  text-align:center;
  height: 620px;
}
/* pane5 in index.html is same content as pane3 in retailer.html */
#retailer-page .pane3.pane-row {padding-bottom:0;}

.pane5.pane-row ul {
  width:100%;
  list-style-type:none;
}
.pane5.pane-row ul li {
  float:left;
  padding:0 30px;
  width:259px;
  height:560px;
  border-right:1px solid #F0F0F0;
  float:left;
}
.pane5.pane-row ul li.last {
  border:none;
}
.pane5.pane-row ul li p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  margin:20px 0 30px 0;
}
.pane5.pane-row ul li div {
  margin-bottom:25px;
}
.pane5.pane-row ul li div img {
  display:block;
}
div.magnifying p {
  padding-top:30px;
}
div.bigheart p {
  padding-top:10px;
}
div.smallhearts {
  margin-top:40px;
}
.pane5.pane-row ul li p.plus, .pane5.pane-row ul li p.equals {
  margin:0;
  font-weight:100;
  font:60px 'NeutraDisplayThinMedium';
  line-height:35px;
}
.pane5.pane-row ul li.last p {
  margin:5px 0;
}

#footer {
  background-color:#222;
  width:100%;
}
ul#footer-list {
  width:100%;
  border-top: 1px solid #222;
  margin:20px 0 0 0;
  list-style-type:none;
}
ul#footer-list li {
  float:left;
  margin:23px 116px 0 0;
}
ul#footer-list li.last {
  margin-right:0;
}
ul#footer-list li a {
  line-height: 22px;
  font-size: 13px;
  font-weight: 200;
}
ul#footer-list li.last {
  float:right;
}
ul#footer-list li a[disabled="disabled"], ul#footer-list li a:hover[disabled=disabled] {
  color: #C6C6C6;
  text-decoration: none;
}
#footer .copyright {
  text-align:center;
  margin:20px 0 0 0;
  padding: 50px 0;
  color: #C6C6C6;
  font-size:16px;
  font-weight: 100;
}

.btn-lux {
  color: #efefef;
  background: #006dcc; /*#0845AB; */
  border-color: #006dcc; /*#0845AB; */
  font-weight: 200;

  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  text-shadow: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}
.btn-lux:hover, .btn-lux:focus {
  color: #FFF;
  background: #0845AB; /* #073A92; */
  border-color: #0845AB; /* #073A92; */
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn-lux:active {
  background: #003399;
}

.get-started-block {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 20px;
  display: inline-block;
}
.get-started-block a {
  text-transform: uppercase;
}

/** modal styles **/
#feedback-modal {
  width:670px;
  height:370px;
  background:white;

  position:fixed;
  top:25%;
  left:50%;
  margin-left:-326px;

  padding:12px;
  z-index:9999;

  color:#222;
}
.close-sec {
  width:47px;
  float:right;
  position:absolute;
  right:15px;
  top:8px;
}
.close-sec a {
  font:10px Arial, Helvetica, sans-serif;
  color:#9b9b9b;
}
#feedback-content h1 {
  text-align:center;
  margin-top:20px;
}
#feedback-content p {
  margin:10px 60px;
  text-align:center;
}
form#contact-form {
  margin-top:15px;
}
form#contact-form fieldset {
  float:left;
  width:240px;
  margin:0 20px 0 60px;
}
form#contact-form label.control-label {
  font-family:Georgia, serif;
}
form#contact-form .send {
  text-transform: uppercase;
  font: 14px/31px 'Helvetica Neue' ,Arial, Helvetica,sans-serif;
  color:#efefef;
  background: #0845AB url(../img/white_arow_rite.png) no-repeat 148px 10px;
  text-align:left;
  border:none;

  width: 171px !important;
  display: block;
  height: 31px;
  margin:10px 0 0 60px;
  padding:0 0 0 20px;
  cursor:pointer;
}

#video-modal {
  background:black; /* to provide some feedback that something is occurring */
  position:absolute;
  left:136px;
  padding-top:13px;
  top:27px;
  height:287px;
  width:487px;
  z-index: 99999;
}
#video-modal .close-sec {top:0;right:0;}


/** sitewide styles **/
.italic {font-style:italic;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.spacer {margin-bottom: 35px;}
.centered {text-align:center;}
.disabled { opacity: .5; filter:alpha(opacity=50); }

#generic-section{width:100%;float:left;background-color:#ffffff;padding-bottom: 40px;}
.generic_heading {float:left; width:942px; padding:0;margin:40px 0 40px 0;}
.generic_heading.leading {margin-top:-2px;}
.generic_heading h2 {font:20px/32px 'ModernMTStdExtendedRegular' ,Arial, Helvetica,sans-serif; text-align:center; font-style:italic; text-transform:uppercase; width:100%; height:32px; color: #efefef; background:#222;}
div.generic-content a,
p.generic-content a,
address.generic-content a {
  color: #222;
  text-decoration: underline;
}
div.generic-content a:hover,
p.generic-content a:hover,
address.generic-content a:hover {
  color: #888;
  text-decoration: underline;
}

/** about.html based styles **/

.featured-partners a {
  display:block;
  float:left;
  width:300px;
  height:140px;
  position:relative;
  margin-right:25px;
}
.featured-partners a.last {
  margin-right:0px;
  float:right;
  width:288px;
}
.featured-partners a img {
  position:absolute;
  bottom:0px;
  left:0px;
}

.logo {
  margin-top: 40px;
}
.team-image {
  border: 1px solid #efefef;
  margin: 0px 25px 30px 0;
  background: #fff;
  position: relative;
  float: left;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-border-radius:4px;
           border-radius:4px;
}
.team-image:before,
.team-image:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}
.team-image:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

/** careers.html styles **/
ul.opportunities {
  margin-top: 20px;
  margin-left: 20px;
}

/** press.html styles **/
#press-page .article.row div {margin-bottom:20px;}
#press-page .article.row img {float:left; width:298px; border:1px solid #222; margin:0 0 9px 0;}
#press-page .article.row h3 {font:16px 'NeutraDisplayThinMedium' ,Arial, Helvetica,sans-serif; color: #222; text-align:center; padding:0 0 3px 0; }
#press-page .article.row h2 {font:20px/22px 'ModernMTStdExtendedRegular' ,Arial, Helvetica,sans-serif; text-align:center;  text-transform:uppercase; color: #222; padding:0 0 9px 0; height:75px;}
#press-page .article.row a { background: #222; text-align:center;font: 12px/22px 'NeutraDisplayBold',Georgia,Times New Roman,times,serif; color:#efefef; word-spacing: 1px; text-transform: uppercase; display:inline-block; margin:0 0 0 97px; float:left; padding:0 10px 0 11px;}
/** IE Fix **/
#press-page .generic_heading.leading {margin-bottom:0;}
#press-page .article.row {margin-top:25px;}

/** missing bootstrap modal and backdrop styles **/
.fade {
  opacity:0;
  -webkit-transition:opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity:1;
}
.modal-backdrop {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1040;
  background-color:#000;
}
.modal-backdrop-fade {
  opacity:0;
}
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/* missing bootstrap input error style */
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #B94A48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #B94A48;
  border-color: #B94A48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/** thank you page styles **/
.hero-unit {
  margin: 80px auto;
  width: 600px;
  padding: 10px;
  border: 10px solid black;
  font-size: 14px;
}
.hero-unit h2 {
  font: 22px/28px 'ModernMTStdExtendedRegular' ,Arial, Helvetica,sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.hero-unit p.center {
  text-align:center;
}
.blue-button {
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  float: none;
  display: block;
  font: 14px/31px 'NeutraDisplayThinMedium' ,Arial, Helvetica,sans-serif;
  color: white;
  padding: 0 0 0 21px;
  width: 140px;
  height: 31px;
  background: #0845AB url(../img/white_arow_rite.png) no-repeat 137px 10px;
}
.blue-button:hover {
  color:white;
  text-decoration: none;
}
#notfound-page .generic-content h1 {
  text-align: center;
}
#notfound-page .generic-content p {
  text-align: center;
}

/** cycle slider styles **/

#ipad-container {
  width: 707px;
  height: 538px;
  float: right;
  position: relative;
}
#ipad-container img.ipad-mask {
  position:absolute;
  display: block;
  z-index: 9999;
}
#slideshow-container {
  position: absolute;
  top: 54px;
  left: 66px;
}

/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow { width: 585px; position: relative;
 }
/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img {
  /*
  some of these styles will be set by the plugin (by default) but setting them here
  helps avoid flash-of-unstyled-content
  */
  position: absolute; top: 0; left: 0;
  width: 100%; padding: 0; display: block;
}
/* in case script does not load */
.cycle-slideshow img:first-child {
  position: static; z-index: 100;
}

/* pager */
.lux-cycle-pager {
/*  width:253px;
  float:left;*/
}
.lux-cycle-pager div.lux-cycle-chapter {
  width:100%;
  margin:0 0 17px 0;
}
.lux-cycle-chapter p {
  height:24px;
  line-height:24px;
  margin: 0;
  padding:0 10px;
  cursor:pointer;
  background: #FFF;
  color: #222;
  border: 0;
  display: block;
  padding: 7px 11px;
}
.lux-cycle-chapter.cycle-pager-active p:hover {
  cursor: pointer;
}
.lux-cycle-chapter.cycle-pager-active p:hover, .lux-cycle-chapter.cycle-pager-active p {
  background: #222 !important;
  color:white;
}

.cycle-text {
  padding: 0 10px 10px 10px;
}
.lux-dot-pager {
  opacity:.2;
  z-index: 500;
  margin-top:5px;
  padding: 5px;
  text-align: center;
}

.cycle-info {
  display: none;
}
.lux-dot-pager span {
  font-family: arial; font-size: 43px; width: 16px; height: 20px;
  display: inline-block; color: #999; cursor: pointer;
}
.lux-dot-pager span.cycle-pager-active { color: #af0000; }
div.cycle-pager-active .lux-dot-pager { opacity: 1; }

.cycle-pager-active {
  background: #FFF;
}
.lux-cycle-pager > * { cursor:pointer; }

.hint {
  display: inline-block;
  height: 24px;
  padding-left: 26px;
  margin-top: 20px;
  line-height: 24px;
  font-weight: normal;
  background: url(../img/hint-mouse.gif) no-repeat;
  color:#999999;
  position:absolute;
  bottom:0px;
}

.hint::after {
  content: "Rollover a publisher to learn more";
}